<a href="https://colab.research.google.com/github/borodark/Goodrich/blob/master/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
![ ! -e "$(basename spark-2.4.1-bin-hadoop2.7.tgz)" ] && wget  http://apache.osuosl.org/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz

--2019-04-09 00:58:38--  http://apache.osuosl.org/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
Resolving apache.osuosl.org (apache.osuosl.org)... 64.50.236.52, 140.211.166.134, 64.50.233.100, ...
Connecting to apache.osuosl.org (apache.osuosl.org)|64.50.236.52|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 230778742 (220M) [application/x-gzip]
Saving to: ‘spark-2.4.1-bin-hadoop2.7.tgz’

spark-2.4.1-bin-had 100%[===================>] 220.09M  26.1MB/s    in 13s

2019-04-09 00:58:51 (17.0 MB/s) - ‘spark-2.4.1-bin-hadoop2.7.tgz’ saved [230778742/230778742]

In [0]:
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# get a spark session. 
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [64]:

ss_ = spark.read.csv("ss.csv", header= True, 
                      inferSchema = True)

print(ss_.columns)

columns_lambda = lambda k: k.endswith(', Current week')

common_cols = ['Reporting Area','MMWR Year','MMWR Week']

sss = filter(columns_lambda, ss_.columns)


to_keep = common_cols + list(sss)

dfss = ss_.select(*to_keep).withColumnRenamed('Reporting Area', 'area').withColumnRenamed('MMWR Year','year').withColumnRenamed('MMWR Week','week')
dfss.columns

['Reporting Area', 'MMWR Year', 'MMWR Week', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Med', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Med, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Max', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Max, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2018', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2018, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2017', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2017, flag', 'Shiga toxin-producing Escherichia coli, Current week', 'Shiga toxin-producing Escherichia coli, Current week, flag', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Med', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Med, flag', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Max', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Max, flag', 'Shiga toxin-producing Escherichia coli, Cum 2018', 'Shiga toxin-producing Escherichia coli, Cum 2018, flag', 'Shiga toxin-producing Escherichia coli, Cum 2017', 'Shiga toxin-producing Escherichia coli, Cum 2017, flag', 'Shigellosis, Current week', 'Shigellosis, Current week, flag', 'Shigellosis, Previous 52 weeks Med', 'Shigellosis, Previous 52 weeks Med, flag', 'Shigellosis, Previous 52 weeks Max', 'Shigellosis, Previous 52 weeks Max, flag', 'Shigellosis, Cum 2018', 'Shigellosis, Cum 2018, flag', 'Shigellosis, Cum 2017', 'Shigellosis, Cum 2017, flag']

['area',
 'year',
 'week',
 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week',
 'Shiga toxin-producing Escherichia coli, Current week',
 'Shigellosis, Current week']

In [68]:
ch_ = spark.read.csv("ch.csv", header= True, 
                      inferSchema = True)

sss = filter(columns_lambda, ch_.columns)


to_keep = common_cols + list(sss)

chss = ch_.select(*to_keep).withColumnRenamed('Reporting Area', 'area').withColumnRenamed('MMWR Year','year').withColumnRenamed('MMWR Week','week')

chss.columns

['area',
 'year',
 'week',
 'Chlamydia trachomatis infection, Current week',
 'Coccidioidomycosis, Current week']

In [83]:
to_keep = common_cols + list(sss)

cghss = chss.join(dfss, [chss.area == dfss.area, chss.week == dfss.week ,chss.year == dfss.year] )
cghss.show(100)

+--------------+----+----+---------------------------------------------+--------------------------------+--------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+
|          area|year|week|Chlamydia trachomatis infection, Current week|Coccidioidomycosis, Current week|          area|year|week|Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week|Shiga toxin-producing Escherichia coli, Current week|Shigellosis, Current week|
+--------------+----+----+---------------------------------------------+--------------------------------+--------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+
| UNITED STATES|2018|   1|                                         3741|                             262| UNITED STATES|2018|   1|                                                                          9|                                                  15|                       50|
|   NEW ENGLAND|2018|   1|                                            9|                            null|   NEW ENGLAND|2018|   1|                                                                       null|                                                null|                     null|
| MID. ATLANTIC|2018|   1|                                          932|                            null| MID. ATLANTIC|2018|   1|                                                                          9|                                                   3|                       12|
| NEW YORK CITY|2018|   1|                                         null|                            null| NEW YORK CITY|2018|   1|                                                                          9|                                                   1|                       10|
|  E.N. CENTRAL|2018|   1|                                         1017|                            null|  E.N. CENTRAL|2018|   1|                                                                       null|                                                   5|                       12|
|  W.N. CENTRAL|2018|   1|                                          171|                               1|  W.N. CENTRAL|2018|   1|                                                                       null|                                                   3|                        3|
|   S. ATLANTIC|2018|   1|                                          411|                            null|   S. ATLANTIC|2018|   1|                                                                       null|                                                   1|                        8|
|  E.S. CENTRAL|2018|   1|                                          150|                            null|  E.S. CENTRAL|2018|   1|                                                                       null|                                                null|                       10|
|  W.S. CENTRAL|2018|   1|                                           11|                            null|  W.S. CENTRAL|2018|   1|                                                                       null|                                                   1|                        1|
|      MOUNTAIN|2018|   1|                                          481|                             261|      MOUNTAIN|2018|   1|                                                                       null|                                                null|                        2|
|       PACIFIC|2018|   1|                                          559|                            null|       PACIFIC|2018|   1|                                                                       null|                                                   2|                        2|
|   AMER. SAMOA|2018|   1|                                         null|                            null|   AMER. SAMOA|2018|   1|                                                                       null|                                                null|                     null|
|  SOUTH DAKOTA|2018|   1|                                            1|                            null|  SOUTH DAKOTA|2018|   1|                                                                       null|                                                null|                     null|
| NEW HAMPSHIRE|2018|   1|                                         null|                            null| NEW HAMPSHIRE|2018|   1|                                                                       null|                                                null|                     null|
|SOUTH CAROLINA|2018|   1|                                         null|                            null|SOUTH CAROLINA|2018|   1|                                                                       null|                                                   1|                        3|
|      MICHIGAN|2018|   1|                                          104|                            null|      MICHIGAN|2018|   1|                                                                       null|                                                null|                     null|
|    NEW MEXICO|2018|   1|                                            6|                            null|    NEW MEXICO|2018|   1|                                                                       null|                                                null|                     null|
|        OREGON|2018|   1|                                          324|                            null|        OREGON|2018|   1|                                                                       null|                                                   2|                        2|
|      DELAWARE|2018|   1|                                         null|                            null|      DELAWARE|2018|   1|                                                                       null|                                                null|                     null|
|      NEW YORK|2018|   1|                                          246|                            null|      NEW YORK|2018|   1|                                                                       null|                                                   1|                        1|
|      VIRGINIA|2018|   1|                                         null|                            null|      VIRGINIA|2018|   1|                                                                       null|                                                null|                     null|
|   VIRGIN ISL.|2018|   1|                                         null|                            null|   VIRGIN ISL.|2018|   1|                                                                       null|                                                null|                     null|
|   CONNECTICUT|2018|   1|                                         null|                            null|   CONNECTICUT|2018|   1|                                                                       null|                                                null|                     null|
|       VERMONT|2018|   1|                                         null|                            null|       VERMONT|2018|   1|                                                                       null|                                                null|                     null|
|        KANSAS|2018|   1|                                           62|                            null|        KANSAS|2018|   1|                                                                       null|                                                null|                     null|
| WEST VIRGINIA|2018|   1|                                         null|                            null| WEST VIRGINIA|2018|   1|                                                                       null|                                                null|                     null|
| MASSACHUSETTS|2018|   1|                                         null|                            null| MASSACHUSETTS|2018|   1|                                                                       null|                                                null|                     null|
|       FLORIDA|2018|   1|                                          292|                            null|       FLORIDA|2018|   1|                                                                       null|                                                null|                     null|
|      ILLINOIS|2018|   1|                                         null|                            null|      ILLINOIS|2018|   1|                                                                       null|                                                null|                     null|
|         TEXAS|2018|   1|                                         null|                            null|         TEXAS|2018|   1|                                                                       null|                                                null|                     null|
|  RHODE ISLAND|2018|   1|                                            9|                            null|  RHODE ISLAND|2018|   1|                                                                       null|                                                null|                     null|
|  PENNSYLVANIA|2018|   1|                                          534|                            null|  PENNSYLVANIA|2018|   1|                                                                       null|                                                   1|                        1|
|          GUAM|2018|   1|                                         null|                            null|          GUAM|2018|   1|                                                                       null|                                                null|                     null|
|       ALABAMA|2018|   1|                                         null|                            null|       ALABAMA|2018|   1|                                                                       null|                                                null|                     null|
|       GEORGIA|2018|   1|                                         null|                            null|       GEORGIA|2018|   1|                                                                       null|                                                null|                     null|
|      COLORADO|2018|   1|                                          393|                            null|      COLORADO|2018|   1|                                                                       null|                                                null|                     null|
|       MONTANA|2018|   1|                                         null|                            null|       MONTANA|2018|   1|                                                                       null|                                                null|                     null|
|      MARYLAND|2018|   1|                                          119|                            null|      MARYLAND|2018|   1|                                                                       null|                                                null|                        5|
|       ARIZONA|2018|   1|                                         null|                             261|       ARIZONA|2018|   1|                                                                       null|                                                null|                        2|
|    NEW JERSEY|2018|   1|                                          152|                            null|    NEW JERSEY|2018|   1|                                                                       null|                                                null|                     null|
|          IOWA|2018|   1|                                         null|                            null|          IOWA|2018|   1|                                                                       null|                                                null|                     null|
|     LOUISIANA|2018|   1|                                           11|                            null|     LOUISIANA|2018|   1|                                                                       null|                                                null|                     null|
|       INDIANA|2018|   1|                                          229|                            null|       INDIANA|2018|   1|                                                                       null|                                                null|                     null|
|      KENTUCKY|2018|   1|                                         null|                            null|      KENTUCKY|2018|   1|                                                                       null|                                                null|                        1|
|        HAWAII|2018|   1|                                         null|                            null|        HAWAII|2018|   1|                                                                       null|                                                null|                     null|
|       WYOMING|2018|   1|                                         null|                            null|       WYOMING|2018|   1|                                                                       null|                                                null|                     null|
|   MISSISSIPPI|2018|   1|                                           45|                            null|   MISSISSIPPI|2018|   1|                                                                       null|                                                null|                        4|
|  NORTH DAKOTA|2018|   1|                                            1|                            null|  NORTH DAKOTA|2018|   1|                                                                       null|                                                null|                     null|
|     TENNESSEE|2018|   1|                                          105|                            null|     TENNESSEE|2018|   1|                                                                       null|                                                null|                        5|
|        ALASKA|2018|   1|                                         null|                            null|        ALASKA|2018|   1|                                                                       null|                                                null|                     null|
|     WISCONSIN|2018|   1|                                          219|                            null|     WISCONSIN|2018|   1|                                                                       null|                                                   1|                     null|
|    WASHINGTON|2018|   1|                                          235|                            null|    WASHINGTON|2018|   1|                                                                       null|                                                null|                     null|
|NORTH CAROLINA|2018|   1|                                         null|                            null|NORTH CAROLINA|2018|   1|                                                                       null|                                                null|                     null|
|      MISSOURI|2018|   1|                                          107|                               1|      MISSOURI|2018|   1|                                                                       null|                                                   3|                        3|
|         MAINE|2018|   1|                                         null|                            null|         MAINE|2018|   1|                                                                       null|                                                null|                     null|
|          OHIO|2018|   1|                                          465|                            null|          OHIO|2018|   1|                                                                       null|                                                   4|                       12|
|      C.N.M.I.|2018|   1|                                         null|                            null|      C.N.M.I.|2018|   1|                                                                       null|                                                null|                     null|
|     MINNESOTA|2018|   1|                                         null|                            null|     MINNESOTA|2018|   1|                                                                       null|                                                null|                     null|
|      OKLAHOMA|2018|   1|                                         null|                            null|      OKLAHOMA|2018|   1|                                                                       null|                                                null|                     null|
|          UTAH|2018|   1|                                           82|                            null|          UTAH|2018|   1|                                                                       null|                                                null|                     null|
|        NEVADA|2018|   1|                                         null|                            null|        NEVADA|2018|   1|                                                                       null|                                                null|                     null|
|   PUERTO RICO|2018|   1|                                         null|                            null|   PUERTO RICO|2018|   1|                                                                       null|                                                null|                     null|
|         IDAHO|2018|   1|                                         null|                            null|         IDAHO|2018|   1|                                                                       null|                                                null|                     null|
|    CALIFORNIA|2018|   1|                                         null|                            null|    CALIFORNIA|2018|   1|                                                                       null|                                                null|                     null|
|      NEBRASKA|2018|   1|                                         null|                            null|      NEBRASKA|2018|   1|                                                                       null|                                                null|                     null|
|      ARKANSAS|2018|   1|                                         null|                            null|      ARKANSAS|2018|   1|                                                                       null|                                                   1|                        1|